/**** start/main.css ****/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/background.webp") #c9b997;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}

a {
    font-weight: bold;
    color: #804000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0082bd
}

hr {
    border-color: #b29f76 #d6c090 #d6c090;
    border-style: solid;
    border-width: 1px 0;
    margin: 16px auto auto auto
}

h2 {
    margin: 15px 0;
    line-height: 15px;
}

h3 {
    font-size: 13px;
    font-weight: bold
}

h4 {
    font-size: 12px;
    margin: 0 0 7px 0;
}

.pull-right {
    float: right;
}

body[dir=rtl] .pull-right {
    float: left;
}

.pull-left {
    float: left;
}

body[dir=rtl] .pull-left {
    float: right;
}

.text-center {
    text-align: center;
}

.seperated .separator:last-child {
    display: none;
}

.hidden {
    display: none;
}

.small, .small a {
    font-size: 11px;
}

.box-border.red .top-left, .box-border.red .top-right, .box-border.red .bottom-left, .box-border.red .bottom-right {
    width: 20px;
    height: 20px
}

.box-border.red .middle {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/bg.webp");
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px
}

.box-border.red .middle-top, .box-border.red .middle-bottom {
    height: 20px;
    left: 20px;
    right: 20px
}

.box-border.red .middle-left, .box-border.red .middle-right {
    width: 20px;
    top: 20px;
    bottom: 20px
}

.box-border.red .top-left {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-corner.webp")
}

.box-border.red .top-right {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-corner.webp")
}

.box-border.red .bottom-left {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-corner.webp")
}

.box-border.red .bottom-right {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-corner.webp")
}

.box-border.red .middle-left {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-left.webp")
}

.box-border.red .middle-right {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-left.webp")
}

.box-border.red .middle-top {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-top.webp")
}

.box-border.red .middle-bottom {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/border-top.webp")
}

.box-border.red .divider {
    position: absolute;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/divider-middle.webp");
    top: 6px;
    bottom: 3px;
    width: 12px;
}

.box-border.red .divider:before, .box-border.red .divider:after {
    content: '';
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-red/divider-top.webp");
    width: 19px;
    height: 7px;
    position: absolute;
    left: -5px
}

.box-border.red .divider:before {
    top: 0
}

.box-border.red .divider:after {
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

.box-border.red .wrap {
    position: relative
}

.box-border.red .left, .box-border.red .right {
    width: 50%;
    height: 100%;
    float: left;
}

body[dir=rtl] .box-border.red .left, body[dir=rtl] .box-border.red .right {
    float: right;
}

.box-border.red .right {
    float: right;
}

body[dir=rtl] .box-border.red .right {
    float: left;
}

.box-border.gold {
    background-color: #ddcca5;
}

.box-border.gold .top-left, .box-border.gold .top-right, .box-border.gold .bottom-left, .box-border.gold .bottom-right {
    width: 24px;
    height: 24px
}

.box-border.gold .middle-top, .box-border.gold .middle-bottom {
    height: 23px;
    left: 24px;
    right: 24px
}

.box-border.gold .middle-left, .box-border.gold .middle-right {
    width: 24px;
    top: 24px;
    bottom: 24px
}

.box-border.gold .top-left {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-corner.webp")
}

.box-border.gold .top-right {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-corner.webp")
}

.box-border.gold .bottom-left {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-corner.webp")
}

.box-border.gold .bottom-right {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-corner.webp")
}

.box-border.gold .middle-left {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-left.webp")
}

.box-border.gold .middle-right {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-left.webp")
}

.box-border.gold .middle-top {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-top.webp")
}

.box-border.gold .middle-bottom {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/box-border-gold/border-top.webp")
}

.box-border {
    width: 100%;
    height: 100%;
    position: relative;
}

.inline-join {
    display: flex;
    flex-direction: column;
}

.box-border .inner {
    position: relative;
    padding: 10px;
    height: 100%
}

.box-border .top-left, .box-border .top-right, .box-border .bottom-left, .box-border .bottom-right, .box-border .middle, .box-border .middle-top, .box-border .middle-bottom, .box-border .middle-left, .box-border .middle-right {
    position: absolute
}

.box-border .top-right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0
}

.box-border .top-left {
    left: 0;
}

.box-border .bottom-left {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    bottom: 0;
    left: 0;
}

.box-border .bottom-right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 0;
    right: 0
}

.box-border .middle-right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0
}

.box-border .middle-left {
    left: 0;
}

.box-border .middle-bottom {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 0
}

.social-media-icons-container.content.box-border.gold {
    display: block;
    min-height: 0;
    height: auto;
    width: 90px;
    position: absolute;
    right: 0;
    top: 186px;
    text-align: center;
}

.social-media-icons-container.content.box-border.gold p {
    padding: 0.5em;
    margin: 0;
}

.social-media-icons-container.content.box-border.gold ul {
    padding: 0.5em;
    margin: 0;
    list-style: none;
}

.social-media-icons-container.content.box-border.gold li {
    margin-bottom: 0.5em;
}

.social-media-icons-container.content.box-border.gold img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 3px;
}

.login-inline {
    width: auto;
    height: 63px;
    position: absolute;
    bottom: -20px;
    right: 80px;
}

body[dir=rtl] .login-inline {
    left: 80px;
    right: auto;
}

.login-inline .inner {
    padding: 12px 15px;
}

.login-inline input[type=text], .login-inline input[type=password] {
    width: 105px;
}

.login-inline .button {
    display: inline-block;
    margin: 0 4px 0 0 !important;
}

body[dir=rtl] .login-inline .button {
    margin: 0 0 0 4px !important;
}

.button {
    position: relative;
}

.button:before, .button:after {
    content: '';
    position: absolute
}

.button:before {
    left: 0
}

.button:after {
    right: 0;
    top: 0
}

.button a {
    display: block;
    text-align: center;
    color: #fff;
}

.button a:hover {
    text-decoration: none;
    color: #fff
}

.button.big {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/button-big/middle.webp");
    height: 38px;
    margin: 10px 0;
}

.button.big:before, .button.big:after {
    width: 10px;
    height: 38px
}

.button.big:before {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/button-big/left.webp")
}

.button.big:after {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/button-big/right.webp")
}

.button.big:hover {
    background-position: 0 38px;
}

.button.big:hover:before {
    background-position: 0 38px
}

.button.big:hover:after {
    background-position: 0 38px
}

.button.big a {
    font-size: 18px;
    line-height: 36px
}

.button.small {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/button-small/middle.webp");
    height: 28px;
    padding: 0;
    margin: 10px 0;
}

.button.small:before, .button.small:after {
    width: 4px;
    height: 28px
}

.button.small:before {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/button-small/left.webp")
}

.button.small:after {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/button-small/right.webp")
}

.button.small:hover {
    background-position: 0 28px
}

.button.small a {
    font-size: 14px;
    line-height: 26px;
    padding: 0 20px;
}

.bg-top {
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/bg-top.webp");
    width: 100%;
    height: 200px
}

.has-portalbar .bg-top {
    top: 29px;
}

.center {
    margin: 0 auto;
    width: 100%;
    max-width: 800px
}

.navigation {
    margin-top: -28px;
    line-height: 30px;
}

.navigation .separator {
    color: #543;
    margin: 0 5px
}

.navigation .inner {
    margin: 20px 0 0 0;
}

.navigation .wrap {
    text-align: center;
    padding-top: 11px
}

.logo {
    position: relative;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/logo/bg.webp") 50%/100%;
}

.logo .bg {
    vertical-align: top;
    width: 100%;
    opacity: 0;
}

.logo .main-logo, .logo .branding-logo {
    top: 4%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position: absolute;
}

.logo .main-logo.no-branding {
    top: 20%;
}

.logo .main-logo img, .logo .branding-logo img {
    width: 100%;
}

.logo .branding-logo {
    top: 60%;
}

.content {
    margin-bottom: 20px;
    min-height: 309px;
}

.content .inner:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.content.box-border .left {
    width: 60%;
}

.content.box-border .left > div {
    margin-left: 118px;
    margin-right: 30px;
    margin-bottom: 7px;
}

body[dir=rtl] .content.box-border .left > div {
    margin-left: 30px;
    margin-right: 118px;
}

.content.box-border .right {
    width: 40%
}

.content .wrap {
    margin: 15px 10px 25px 25px;
}

body[dir=rtl] .content .wrap {
    margin: 15px 25px 25px 25px;
}

.content .wrap hr, .content .register hr {
    display: none
}

.content .paladin {
    position: absolute;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/bg-paladin.webp");
    width: 214px;
    height: 412px;
    left: -92px;
    top: -78px
}

body[dir=rtl] .content .paladin {
    left: auto;
    right: -60px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/bg-paladin-ae.webp");
    width: 185px;
    transform: scaleX(-1);
}

.no-paladin .content .paladin {
    display: none;
}

.content .full-content {
    margin: 0 30px 10px 120px;
    overflow: hidden;
}

body[dir=rtl] .content .full-content {
    margin: 0 120px 10px 30px;
}

.no-paladin .content .full-content {
    margin-left: 30px;
}

body[dir=rtl].no-paladin .content .full-content {
    margin-right: 30px;
}

.content .full-content.margin-top {
    margin-top: 20px !important;
}

.content .thumbs {
    list-style: none;
    padding: 0;
    height: 66px;
}

.content .thumbs li {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/screenshots/thumb-bg.gif");
    float: left;
    width: 86px;
    margin: 0 31px;
    cursor: pointer;
}

body[dir=rtl] .content .thumbs li {
    float: right;
}

.content .thumbs li img {
    margin: 3px 0 3px 3px;
    vertical-align: middle;
}

body[dir=rtl] .content .thumbs li img {
    margin: 3px 3px 3px 0;
}

.content .thumbs li:first-child, .content .thumbs li:last-child {
    margin: 0
}

.content .screenshot-opener {
    position: relative;
}

.content .screenshot-opener:after {
    content: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/screenshots/zoomyzoom.webp");
    bottom: -23px;
    right: 3px;
    position: absolute;
}

.apps img {
    height: 40px
}

.content .login .submit {
    display: none
}

.content .login label {
    width: 100%;
    float: left;
    height: 32px;
}

body[dir=rtl] .content .login label {
    float: right;
}

.login-input span {
    width: 80px;
    font-weight: bold;
}

:lang(da) .login-input span, :lang(no) .login-input span {
    width: 90px;
}

:lang(de) .login-input span, :lang(it) .login-input span, :lang(pl) .login-input span, :lang(sv) .login-input span {
    width: 100px;
}

:lang(hr) .login-input span {
    width: 110px;
}

:lang(nl) .login-input span, :lang(hu) .login-input span, :lang(tr) .login-input span, :lang(el) .login-input span, :lang(sk) .login-input span {
    width: 115px;
}

:lang(cs) .login-input span, :lang(ru) .login-input span, :lang(sl) .login-input span, :lang(fr) .login-input span, :lang(ro) .login-input span, :lang(pt) .login-input span, :lang(es) .login-input span {
    width: 135px;
}

.content .login label * {
    float: left;
}

body[dir=rtl] .content .login label * {
    float: right;
}

.content .login label span {
    line-height: 24px;
    margin-right: 8px
}

body[dir=rtl] .content .login label span {
    margin-left: 8px;
    margin-right: 0;
}

input[type='text'], input[type='password'], input[type='email'] {
    background: #fff;
    height: 25px;
    font-size: 12px;
    padding: 0 6px;
    border: 3px solid brown;
    border-image: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/border-input.webp") 3 repeat;
}

.content .login input[type='text'], .content .login input[type='password'] {
    width: 134px;
}

.content .login .remember-me {
    line-height: 18px
}

.content .login .login-buttons {
    float: left;
}

body[dir=rtl] .content .login .login-buttons {
    float: right;
}

.content .login .login-buttons .small {
    margin: 0 6px 0 0;
    float: left;
}

body[dir=rtl] .content .login .login-buttons .small {
    float: right;
}

.login-facebook {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/icons/login-facebook.webp");
    width: 28px;
    height: 28px;
    float: right;
    margin-right: 6px;
}

body[dir=rtl] .login-facebook {
    float: left;
}

.login-facebook:hover {
    background-position: 0 28px
}

.login-apple {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/icons/login-apple.webp");
    width: 28px;
    height: 28px;
    float: right;
    margin-right: 6px;
}

body[dir=rtl] .login-apple {
    float: left;
}

.login-apple:hover {
    background-position: 0 28px
}

.content .login .wrap {
    min-height: 240px;
    position: relative;
}

.content .login form {
    height: 124px
}

.some-box {
    margin-top: 20px;
    height: 200px
}

.news {
    margin: 10px auto 0;
    width: 94%;
}

.news .entry {
    margin: 12px;
    line-height: 14px;
    overflow: hidden;
}

.news .icon {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/icons/news-icon.webp");
    width: 53px;
    height: 34px;
    float: left;
    margin-top: 4px;
    text-align: center;
    font-weight: bold;
    line-height: 34px;
}

.news .icon.icon-world {
    background-position-x: -53px;
}

body[dir=rtl] .news .icon {
    float: right;
}

.news .wrap {
    margin-left: 62px;
    position: relative
}

body[dir=rtl] .news .wrap {
    margin-left: 0;
    margin-right: 62px;
}

.news .date {
    color: #543;
    font-weight: bold
}

.news .separator {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/icons/news-separator.webp");
    width: 59px;
    height: 19px;
    margin: 0 auto
}

.footer, .closure {
    margin: 0 auto;
    overflow: hidden;
    width: 94%
}

.footer .container {
    width: 25%;
    float: left;
    padding-left: 3%;
    padding-right: 1%;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0
}

.footer h3 {
    margin: 10px 0 5px 0;
    color: #543
}

.closure > * {
    margin-top: 10px
}

.closure .legal {
    text-align: center;
}

.closure .legal img {
    vertical-align: text-bottom
}

.closure .legal p {
    margin: 3px 0;
}

.screenshot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 118px;
    background: rgba(255, 255, 255, 0.3);
}

.screenshot img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.content-selector {
    margin: 2px 2px 12px 2px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(60, 30, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(60, 30, 0, 0.2);
    border: 1px solid #7d510f;
}

.content-selector h3 {
    background: #c1a264 url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/screen/tableheader_bg3.webp) repeat-x;
    padding: 4px 8px;
    margin: 0;
}

.content-selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-selector ul li {
    background: #fff5da;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(125, 81, 15, 0.2);
    line-height: 16px;
}

.content-selector ul li.active a {
    color: #a30a06;
}

.content-selector ul li:nth-child(even) {
    background: #faecc7;
}

.content-selector ul li.inactive {
    background: #DFCCA6;
}

.content-selector ul li.inactive:after {
    content: "";
    display: inline-block;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/icons/locked.webp");
    height: 13px;
    width: 13px;
    vertical-align: middle;
}

.data-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.data-table tr td:first-child {
    font-weight: bold;
}

.data-table tr td {
    padding: 4px;
    border-bottom: 1px solid rgba(125, 81, 15, 0.2);
    border-right: 1px solid rgba(125, 81, 15, 0.2);
}

.data-table tr:last-child td {
    border-bottom: 0;
}

.data-table tr td:last-child {
    border-right: 0;
}

.data-table tr td:first-child {
    padding-left: 10px;
    width: 30%;
}

.data-table tr td:last-child {
    padding-right: 10px;
}

.content .full-content .bordered-box, .content .full-content .has-aside {
    width: 76%;
}

.content .full-content aside {
    width: 20%;
}

.bordered-box h4 {
    text-align: center;
    margin: 7px 0;
    font-size: 14px;
}

.bordered-box.space-below {
    margin-bottom: 18px;
}

.content-box {
    margin: 8px 0;
}

.apps {
    margin: 5px 0;
}

.small-screen-only {
    display: none;
}

@media all and (max-width: 1100px) {
    .paladin {
        display: none
    }

    .content.box-border .left > div {
        margin-left: 30px
    }

    .content .full-content {
        margin-left: 30px;
    }

    body[dir=rtl] .content.box-border .left > div {
        margin-left: 30px;
        margin-right: 30px;
    }

    .social-media-icons-container.content.box-border.gold {
        display: none;
    }
}

@media all and (max-width: 670px) {
    #pbar {
        display: none;
    }

    .has-portalbar .bg-top {
        top: 0;
    }

    .logged-in .jump-to-login {
        display: none;
    }

    .logged-in .content .inner {
        display: flex;
        flex-direction: column;
    }

    .logged-in .content .inner .register {
        order: 2;
    }

    .logged-in .content .inner .login {
        order: 1;
    }

    .logged-in .content .login hr {
        display: none !important;
    }

    .logged-in .content .register hr {
        display: block;
    }

    .logged-in .content .wrap {
        margin: 20px 20px 10px 20px;
    }

    .content.box-border .left {
        width: 100%;
    }

    .logged-in .content.box-border .left > div {
        margin-left: 20px;
        margin-right: 20px;
    }

    .content.box-border .right {
        width: 100%;
        position: relative;
    }

    .content.box-border .right .divider {
        display: none
    }

    .content.box-border .right hr {
        display: block
    }

    .content.box-border .wrap {
        margin-top: 0
    }

    .footer .container {
        width: 46%;
        height: 100px;
        padding-left: 4%;
        padding-right: 0
    }

    .content .full-content .bordered-box, .content .full-content .has-aside {
        width: 100%;
    }

    .content .full-content aside {
        float: none;
        width: 100%;
    }

    .content .full-content .content-display {
        width: 100%;
    }

    .login-inline {
        display: none;
    }

    .small-screen-only {
        display: block;
    }

    .large-screen-only {
        display: none;
    }

    .logged-in .registration-call-to-action {
        display: none;
    }

    .logo .branding-logo {
        display: none;
    }

    .logo .main-logo {
        top: 20%;
    }

    .apps {
        margin-bottom: 0;
    }

    .content .login .wrap {
        min-height: 150px;
        position: relative;
    }

    .content .login .login-footer-link {
        position: relative;
        top: 10px;
        left: auto;
    }
}

@media all and (max-width: 434px) {
    .content.box-border .left {
        width: 100%
    }

    .content.box-border .left > div {
        margin-bottom: 0;
    }

    .content.box-border .right {
        width: 100%;
        position: relative;
    }

    .content.box-border .right .divider {
        display: none
    }

    .content.box-border .right hr {
        display: block
    }

    .content.box-border .wrap {
        margin-top: 0
    }

    .content .button.big a {
        font-size: 14px;
        line-height: 38px
    }

    .content .stores {
        text-align: center
    }

    .content h3 {
        text-align: center
    }

    .content .thumbs {
        display: table;
        margin: 10px auto;
    }

    .content .thumbs li {
        margin: 0 5px;
    }

    .content .thumbs li:first-child {
        margin: 0 5px
    }

    .content .login .pw-recovery {
        position: relative;
        bottom: 14px;
        left: 14px
    }

    .thumbs li:nth-child(3) {
        display: none
    }

    .data-table tr, .data-table td {
        display: block;
        width: 100% !important;
    }

    .data-table td {
        padding: 8px !important;
        overflow: hidden;
        border-bottom: 1px solid rgba(125, 81, 15, 0.2) !important;
        border-right: 0 !important;
    }

    .navigation {
        line-height: 20px;
    }

    .content .login .login-footer-link {
        display: inline-block;
        margin-top: 15px;
        position: relative;
    }
}

.mobile-client .logo, .mobile-client .navigation, .mobile-client .footer, .mobile-client .closure, .mobile-client #pbar {
    display: none;
}

.mobile-client .content {
    margin: 0;
    min-height: 100vh;
}

.mobile-client .has-portalbar .bg-top {
    top: 0;
}

.mobile-client .paladin {
    top: 0;
}

@media all and (min-height: 800px) {
    .mobile-client .content {
        min-height: auto;
    }
}

.spin {
    -webkit-animation: spin 1.4s infinite linear;
    -moz-animation: spin 1.4s infinite linear;
    -o-animation: spin 1.4s infinite linear;
    -ms-animation: spin 1.4s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

/**** start/worlds.css ****/
.worlds-container {
    margin-bottom: 10px;
    overflow: hidden;
}

.world_button_active {
    background: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/world.webp') no-repeat 0 0;
    color: #59574E;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    width: 90px;
    height: 22px;
    position: relative;
    float: left;
    display: block;
    margin-right: 4px;
    margin-bottom: 2px;
}

.world_button_active:hover {
    background: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/world.webp') no-repeat 0 -22px;
}

.world_button_inactive {
    background: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/world_inactive.webp') no-repeat 0 0px;
    color: #59574E;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    width: 90px;
    height: 22px;
    position: relative;
    float: left;
    display: block;
    margin-right: 4px;
    margin-bottom: 2px;
}

.world_button_inactive:hover {
    background: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/world_inactive.webp') no-repeat 0 -22px;
}

body[dir=rtl] .world_button_active, body[dir=rtl] .world_button_inactive {
    float: right;
}

/**** start/register.css ****/
.error-message .message {
    background: #FFCCAA url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/error.webp') no-repeat 3px center;
    border: 1px solid #7D510F;
    padding: 2px 2px 2px 24px;
    line-height: 21px;
    color: #B40000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: pre-wrap;
}

.terms {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

body[dir=rtl] .terms {
    padding-left: 0;
    padding-right: 25px;
}

.terms input[type=checkbox] {
    position: absolute;
    left: 0;
    right: 0;
    width: 1em;
}

.register-button-facebook, .register-button-facebook:hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 208px;
    height: 33px;
    color: #fff;
    font-size: 12px;
    line-height: 33px;
    padding-left: 31px;
    text-align: center;
    border-radius: 4px;
    background: #4267b2 url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/icons/fb_white.webp') 4px no-repeat;
    text-decoration: none;
}

body[dir=rtl] .register-button-facebook, body[dir=rtl] .register-button-facebook:hover {
    padding-right: 6px;
}

.cc {
    width: 300px;
    border-width: 9px;
    border-image: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/popup/border_slim.webp") 9 9 9 9 repeat;
    background: transparent;
    backface-visibility: hidden;
    padding: 0;
    & .cc-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        background-image: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/popup/content_background.webp');
        padding: 0.7rem;
        & span {
            text-align: center;
            text-wrap: pretty;
        }
    }

    & .cc-more-options {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    &::backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/index/grey-fade.webp);
    }
}

/**** start/misc.css ****/
.auto-hide-box {
    position: fixed;
    width: 400px;
    top: 195px;
    left: 50%;
    margin: 0 0 0 -200px;
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 100;
}

.auto-hide-box p {
    white-space: pre-wrap;
}

@media all and (max-width: 400px) {
    .auto-hide-box {
        margin: 0;
        left: 0;
        width: 100%;
    }
}

.auto-hide-box.error-box {
    color: #B40000;
    border: 1px solid #7D510F;
    background: #FFCCAA
}

.auto-hide-box.success-box {
    background-color: rgba(3, 126, 6, 0.8);
    border: 1px solid #015b03;
}

.auto-hide-box p {
    margin: 5px;
}

.material-list, .units-list {
    margin: 0;
    padding: 0;
}

.material-list li, .units-list li {
    float: left;
    margin: 2px;
    list-style: none;
    background: #fff5da;
    border: 1px solid #c1a264;
    padding: 3px;
}

.material-list li {
    min-width: 160px;
    margin: 3px 6px 3px 0;
}

.units-list li {
    width: 74px;
    text-align: center;
}

.material {
    display: inline-block;
    background: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/world-info-sprite.webp') no-repeat -21px 0;
    width: 17px;
    height: 12px;
    margin: 0 4px 0 0;
}

.material.wood {
    background-position: 0 0;
}

.material.clay {
    background-position: 0 -13px;
}

.material.iron {
    background-position: 0 -25px;
}

.units {
    display: block;
    margin: 0 auto 3px;
    background: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/start2/world-info-sprite.webp') no-repeat 0 -39px;
    width: 18px;
    height: 19px;
    padding: 2px 0;
}

.units.spear {
    background-position: 0 -39px;
}

.units.sword {
    background-position: 0 -58px;
}

.units.axe {
    background-position: 0 -77px;
}

.units.archer {
    background-position: 0 -96px;
}

.units.spy {
    background-position: 0 -115px;
}

.units.light {
    background-position: 0 -134px;
}

.units.marcher {
    background-position: 0 -153px;
}

.units.heavy {
    background-position: 0 -172px;
}

.units.ram {
    background-position: 0 -191px;
}

.units.catapult {
    background-position: 0 -210px;
}

.units.knight {
    background-position: 0 -229px;
}

.units.snob {
    background-position: 0 -248px;
}

.fader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/index/grey-fade.webp);
    z-index: 20;
}

.support-window {
    z-index: 21;
    position: fixed;
    top: 10%;
    left: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
}

.support-window iframe {
    border-radius: 7px;
    vertical-align: middle;
}

.l-secondary-divider {
    clear: both;
}

.wallpaper {
    clear: both;
    overflow: hidden;
    margin: 10px 0;
}

.wallpaper h2 {
    margin-top: 0;
}

.wallpaper img {
    float: left;
    margin-right: 10px;
}

.wallpaper .downloads {
    float: left;
}

.wallpaper .downloads, .wallpaper .downloads a {
    font-size: 10px;
}

.wallpaper ul {
    padding-left: 15px;
    margin-right: 20px;
}

@media all and (max-width: 670px) {
    .wallpaper img {
        float: none;
    }

    .wallpaper h2 {
        margin-top: 10px;
    }
}

.form-element {
    display: block;
    margin-bottom: 14px;
}

.form-element label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

#countdown {
    height: 30px;
    position: relative;
    top: 3px;
    margin: 0 auto;
    text-align: center;
}

#countdown span {
    line-height: 32px;
    font-size: 32px !important;
}

#countdown p {
    margin: 0;
}

#countdown div {
    font-size: 12px;
}

.world-select-show-all {
    margin-bottom: 5px;
}

.error_box {
    font-size: 13px;
    font-weight: bold;
    background: #FFCCAA url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/error.webp') no-repeat 3px center;
    border: 1px solid #7D510F;
    padding: 2px 2px 2px 24px;
    line-height: 21px;
    color: #B40000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.merge-announce-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 75% 25%;
}

.merge-announce-container h2 {
    margin-top: 0;
}

.market-merge-globe {
    width: 100%;
    height: auto;
}

.market-merge-button-container {
    width: 255px;
}

.info-box {
    min-height: 26px;
    font-size: 12px;
    background: #fff3d3 url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/questionmark.webp') no-repeat 4px center;
    border: 1px solid #7D510F;
    padding: 3px 3px 3px 28px;
    margin: 5px 0;
    line-height: 24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.info-box .hint-toggle {
    cursor: pointer;
}

.info-box .info-box-content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
}

.info-box a {
    font-size: 12px;
}

/**** start/hof.css ****/
.placements {
    max-width: 600px;
    overflow: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.placement {
    display: inline-block;
    background: url('https://dspt.innogamescdn.com/asset/fc339a06/graphic/start/hall-of-fame-places.webp') no-repeat -176px 0;
    width: 170px;
    height: 170px;
    margin: 5px;
    padding-top: 135px;
}

.placement a {
    line-height: 20px;
    max-width: 125px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.place1 {
    background-position: -176px 0;
    order: 2;
}

.place2 {
    background-position: 0 0;
    order: 1;
}

.place3 {
    background-position: -352px 0;
    order: 3;
}

.tribe {
    margin-top: 10px;
}

.tribe h3 {
    text-align: center;
}

.milestone-group {
    float: left;
    width: 46%;
    max-width: 300px;
    margin: 0 1% 5px 1%;
}

.milestone-group > div {
    display: table-cell;
}

.milestone-group p {
    display: table-cell;
    font-size: 0.8em;
    padding-left: 5px;
}

.award {
    width: 60px;
    height: 60px;
    border: 1px solid #AF8E36;
    float: left;
}

.award.level0 {
    background-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/awards/frame0.webp);
}

.award.level1 {
    background-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/awards/frame1.webp);
}

.award.level2 {
    background-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/awards/frame2.webp);
}

.award.level3 {
    background-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/awards/frame3.webp);
}

.award.level4 {
    background-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/awards/frame4.webp);
}

.award img {
    margin: 7px;
}

#hof .bordered-box-content {
    overflow: hidden;
}

@media all and (max-width: 790px) {
    .placements {
        padding-top: 5px;
        padding-left: 5px;
        max-width: none;
        overflow: auto;
        text-align: left;
        display: block;
    }

    .placement {
        display: block;
        background: none;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .placement a {
        line-height: normal;
    }

    .place1:before {
        content: "1. ";
    }

    .place2:before {
        content: "2. ";
    }

    .place3:before {
        content: "3. ";
    }
}

/**** start/speed.css ****/
.numeric-pagination {
    margin-bottom: 5px;
}

.speed-round ul {
    padding-left: 21px;
}

.ranking-table {
    border-spacing: 2px;
    border-collapse: collapse;
    empty-cells: show !important;
    margin: 10px 0;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(60, 30, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(60, 30, 0, 0.2);
    border: 1px solid #7d510f;
}

.ranking-table td, .ranking-table th {
    padding: 4px 5px;
    background: #F7EED3;
}

.ranking-table th {
    text-align: left;
    font-weight: bold;
    background: #c1a264 url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/screen/tableheader_bg3.webp) repeat-x;
}

.ranking-table td {
    border-bottom: 1px solid rgba(125, 81, 15, .05);
    border-right: 1px solid rgba(125, 81, 15, .05);
}

.ranking-table td:last-child {
    border-right: 0;
}

.ranking-table tr:last-child td {
    border-bottom: 0;
}

/**** start/archive.css ****/
.world-map {
    max-width: 78%;
    height: auto;
}

@media all and (max-width: 670px) {
    .world-map {
        max-width: 100%;
    }
}

/**** start/rules.css ****/
.game-rules li {
    margin-bottom: 7px;
}

.game-rules h3 a {
    cursor: inherit;
    color: inherit;
    font-size: inherit;
}

.game-rules h3 a:hover {
    text-decoration: inherit;
}

.game-rules .contact-support {
    margin-top: 13px;
}

/**** game/buttons2.css ****/
.btn, .btn-default {
    display: inline-block;
    padding: 3px;
    margin: 0 2px;
    text-align: center;
    font-family: Verdana, Arial;
    font-size: 12px !important;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
    background: #6c4824;
    background: linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #fff;
    white-space: nowrap;
}

.btn:hover, .btn-default:hover {
    background: #e2a738;
    background: linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
    color: #fff;
    text-decoration: none;
}

.btn:active, .btn.active {
    -webkit-box-shadow: inset 50px 50px 100px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 50px 50px 100px -1px rgba(0,0,0,0.2);
    box-shadow: inset 50px 50px 100px -1px rgba(0,0,0,0.2);
}

.btn:focus {
    outline: none;
    border-color: #920707;
}

.btn::-moz-focus-inner {
    border: 0;
}

.btn-img {
    padding: 0 4px 0 0 !important;
    line-height: 24px;
}

.btn-img img {
    float: left;
    padding: 3px;
}

.btn-centered {
    display: block;
    width: 150px;
    margin: auto;
}

.btn-disabled, .btn[disabled], .btn-disabled:hover, .btn[disabled]:hover {
    background: #646464;
    background: linear-gradient(to bottom, #646464 0%,#4d4c4c 100%) !important;
    cursor: not-allowed;
}

.btn-build {
    min-width: 90px;
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-build:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-build.current-quest {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px,#0bac00;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px,linear-gradient(to bottom, #0bac00 0%,#0e7a1e 100%);
}

.btn-build.current-quest:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px,#13c600;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px 1px,linear-gradient(to bottom, #13c600 0%,#129e23 100%);
}

.btn-attack {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-attack:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-attack.highlight {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px,#0bac00;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px,linear-gradient(to bottom, #0bac00 0%,#0e7a1e 100%);
}

.btn-attack.highlight:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px,#13c600;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px,linear-gradient(to bottom, #13c600 0%,#129e23 100%);
}

.btn-attack[disabled], .btn-attack[disabled]:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px, #646464 !important;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -74px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%) !important;
}

.btn-support {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-support:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-support.highlight {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px,#0bac00;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px,linear-gradient(to bottom, #0bac00 0%,#0e7a1e 100%);
}

.btn-support.highlight:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px,#13c600;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px,linear-gradient(to bottom, #13c600 0%,#129e23 100%);
}

.btn-support:disabled, .btn-support:disabled:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px, #646464;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -99px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%);
}

.btn-recruit {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -125px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -125px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-recruit:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -125px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -125px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-recruit-disabled, .btn-recruit-disabled:hover {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -125px, #646464;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -125px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%);
    cursor: not-allowed;
}

.btn-research {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -146px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -146px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-research:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -146px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -146px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-research-disabled, .btn-research-disabled:hover {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -146px, #646464;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -146px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%);
    cursor: not-allowed;
}

.btn-bcr {
    width: 60px;
    text-align: right;
    padding: 3px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -24px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -24px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-bcr:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -24px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -24px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-bcr-disabled, .btn-bcr-disabled:hover {
    width: 60px;
    text-align: right;
    padding: 3px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -24px, #646464;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -24px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%);
    cursor: not-allowed;
}

.btn-btr {
    text-align: right;
    padding: 3px 3px 3px 24px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-btr:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-btr.btn-disabled, .btn-btr.btn-disabled:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, #646464;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%) !important;
    cursor: not-allowed;
}

.btn-instant-free {
    text-align: right;
    padding: 3px 3px 3px 24px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, #0bac00;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, linear-gradient(to bottom, #0bac00 0%,#0e7a1e 100%);
}

.btn-instant-free:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, #13c600;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -49px, linear-gradient(to bottom, #13c600 0%,#129e23 100%);
}

.btn-cancel {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -174px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -174px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-cancel:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -174px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -174px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-edit {
    padding-left: 20px;
    background: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/edit.webp) no-repeat left center, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-edit:hover {
    background: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/edit.webp) no-repeat left center, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-xmas-steel {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -199px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -199px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-xmas-steel:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -199px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -199px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-xmas-steel[disabled], .btn-xmas-steel[disabled]:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -199px, #646464;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -199px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%);
    cursor: not-allowed;
}

.btn-res-gems {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -249px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -249px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-res-gems:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -249px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -249px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-res-gems[disabled], .btn-res-gems[disabled]:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -249px, #646464;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -249px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%);
    cursor: not-allowed;
}

.btn-xmas-pp, .btn-pp {
    padding: 3px 9px 3px 25px;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -224px, #6c4824;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -224px, linear-gradient(to bottom, #947a62 0%,#7b5c3d 22%,#6c4824 30%,#6c4824 100%);
}

.btn-xmas-pp:hover, .btn-pp:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -224px, #b69471;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -224px, linear-gradient(to bottom, #b69471 0%,#9f764d 22%,#8f6133 30%,#6c4d2d 100%);
}

.btn-xmas-pp[disabled], .btn-xmas-pp[disabled]:hover, .btn-pp[disabled], .btn-pp[disabled]:hover, .btn-pp.btn-disabled, .btn-pp.btn-disabled:hover {
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -224px, #646464 !important;
    background: url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/btn/buttons.webp") no-repeat 3px -224px, linear-gradient(to bottom, #646464 0%,#4d4c4c 100%) !important;
    cursor: not-allowed;
}

.btn-confirm-yes {
    padding: 5px;
    background: #0bac00;
    background: linear-gradient(to bottom, #0bac00 0%,#0e7a1e 100%);
    color: #fff;
    border-color: #006712;
}

.btn-confirm-yes.btn-disabled, .btn-confirm-yes[disabled] {
    border-color: #000000 !important;
}

.btn-confirm-yes:hover {
    background: #13c600;
    background: linear-gradient(to bottom, #13c600 0%,#129e23 100%);
}

.btn-confirm-yes:focus {
    outline: none;
    border-color: #323232;
}

.btn-confirm-yes-large, .btn-confirm-large {
    height: 20px !important;
    padding: 8px !important;
    font-size: 16px !important;
}

.btn-confirm-no {
    padding: 5px;
    background: #af281d;
    background: linear-gradient(to bottom, #af281d 0%,#801006 100%);
    color: #fff;
    border-color: #670900;
}

.btn-confirm-no:hover {
    background: #c92722;
    background: linear-gradient(to bottom, #c92722 0%,#a00d08 100%);
}

.btn-larger {
    padding: 5px !important;
    font-size: 14px !important;
}

.btn-midget {
    line-height: 14px !important;
}

/**** shared/bordered_box.css ****/
.bordered-box {
    border-style: solid;
    border-width: 32px 30px 7px;
    -moz-border-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/ui/borderedbox/border.webp) 32 30 7 repeat;
    -webkit-border-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/ui/borderedbox/border.webp) 32 30 7 repeat;
    -o-border-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/ui/borderedbox/border.webp) 32 30 7 repeat;
    border-image: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/ui/borderedbox/border.webp) 32 30 7 fill repeat;
    background: #f7efda;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.no-borderimage .bordered-box {
    border: 1px solid #804000;
}

.bordered-box h3 {
    color: rgb(254, 230, 196);
    text-align: center;
    font-size: 12px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: -24px -5px 15px;
    padding: 0;
}

.no-borderimage .bordered-box h3 {
    background: #C1A264 url("https://dspt.innogamescdn.com/asset/fc339a06/graphic/screen/tableheader_bg3.webp") repeat-x;
    padding: 3px;
    margin: 0 0 10px;
    color: #000;
}

.bordered-box hr {
    background: url(https://dspt.innogamescdn.com/asset/fc339a06/graphic/awards/ui/sep.webp);
    width: 100%;
    height: 3px;
    border: none;
    margin: 5px 0;
    padding: 0;
}

.borderimage .bordered-box-content {
    margin-left: -25px;
    margin-right: -25px;
}